* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

#mainContainer {
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#scoreboard {
  border: 1px solid white;
  border-radius: 15px;
  width: 50%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scoreboard__table {
  text-align: center;
}

#scoreboard__title {
  width: 70%;
}

#scoreboard__table {
  background-color: white;
  width: 20%;
  height: 80%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

#scoreboard__table__title { 
  color: #1f3757;
  font-size: 1em;
  letter-spacing: 0.06em;
  font-weight: 700;
}

#scoreboard__table__score {
  font-size: 3em;
  font-weight: 900;
  color: #4a4361;
}


#boardscore {
  position: relative;
  margin-top: 5em;
}

.options {
  width: 45%;
  position: absolute;
}

.Yellow {
  right: -15%;
  top: -15%;
}

.Red  {
  bottom: -5%;
  left: 27%;
}

.Blue {
  left: -15%;
  top: -15%;
}

.Blue:hover, .Red:hover, .Yellow:hover {
  cursor: pointer;
}

.Blue:active, .Red:active, .Yellow:active {
  transform: translateY(3px);
}

.hide {
  display: none;
}

#boardScoreResult {
  height: 65%;
  background-color: rgb(30, 42, 97);
  position: absolute;
  top: 18%;
  width: 70%;
  border-radius: 15px;
  border: 1px solid rgb(196, 192, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

#boardScoreResult__status{
  width: 70%;
  display: flex;
  flex-direction: row;
  height: 15%;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

#boardScoreResult__action {
  height: 55%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#boardScoreResult__action span {
  font-size: 3.5em;
  color: rgb(146, 146, 146);
}

#boardScoreResult__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

#play, #reset {
  padding: 3% 5%;
  background-color: rgb(139, 149, 190);
  cursor: pointer;
}

#play:hover, #reset:hover {
  background-color: rgb(63, 55, 110);
  color: white;
}